<!DOCTYPE html>
<html>
{% comment %} {% include head-home.html %} {% endcomment %}
{% include head.html %}

<body>
    {% comment %} {% include nav-home.html %} {% endcomment %}
    {% include nav.html %}
    <div class="home">
        {% comment %} <header class="header-home"> {% endcomment %}
        <header class="header">
            <img class="selfie" alt="{{ site.title }}" src="{{ site.url }}/{{ site.picture }}">
            <h1 class="title-home">{{ site.title }}</h1>
            <h2 class="description-home">{{ site.bio }}</h2>
            {% comment %} {% include social-links.html %} {% endcomment %}
        </header>
        {% comment %} {% include footer-home.html %} {% endcomment %}
        {% include footer.html %}
    </div>
</body>

</html>
